[submodule ".devcontainer"]
	path = .devcontainer
	url = git@gitlab.ika.rwth-aachen.de:fb-fi/dev-environment/devcontainer.git
[submodule ".vscode"]
	path = .vscode
	url = git@gitlab.ika.rwth-aachen.de:fb-fi/dev-environment/vscode
